html { 
    background-color: black;
}
body {
    color: white;
    font-family: Helvetica-neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  /* HEADER */
  header {
      background: 
          /* top, transparent black, faked with gradient */ 
          linear-gradient(
              rgba(0, 0, 0, 0.6), 
              rgba(0, 0, 0, 0.6)
          ),
      url(Images/hero.jpg);
      background-position: center;
      background-size: 100%;
      height: 400px;
      padding: 20px; 
      text-align: center;
    } 
    header .logo a { 
        background-image: url("Images/logo.png"); 
        background-size: 280px;
        background-repeat: no-repeat;
        display: inline-block; 
        height: 340px;
        width: 280px;
        top: 0rem;
        position: relative; 
        text-align: center;
        text-indent: -999999999px;
    }     
     .navbar { 
        background-color: gray;
        box-shadow: 0px 2px 5px #777; 
        height: rem;
     } 
     .navbar-brand { 
        text-transform:uppercase; 
     }
    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    } 
      nav li { 
          color: rgb(0, 0, 0);
          font-size: larger; 
          font-weight: 400;
          display: inline-flex; 
          justify-content: center;
          margin-right: 20px; 
          border-radius: 2px; 
          padding: 2px; 
    } 
      section {
        background: white;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }  
/* FEATURES */
    .features { 
        color: rgb(66, 65, 65);
        padding: 20px;
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .features figure {
        margin: auto;
        text-align: center; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
        font-style: italic;
        width: 200px;    
    }
    .features figure img{ 
        border: 1px solid white;
        border-radius: 50%;
        box-shadow: gray 0 0 10px; 
        transition: all .7s;
        width: 200px;
    }  
    .features figure img:hover { 
        transform: scale(1.1);
    }
    
    .feature-box {
        display: flex;
       font-size: medium; 
       font-weight: 500;
       flex-direction: row;
       margin: auto; 
       padding: 20px; 
} 
    .feature-box div {  
        width: 100px;
        margin: auto; 
        color: black;
        font-size: large; 
        font-weight: 500;
}
    /* RESPONSIIVE RULES */
@media screen and (max-width: 859px) {  
    header { 
        height: 200px; 
        background-position: 0 30px;
    } 
    header .logo a { 
        background-image: url("Images/logo.png"); 
        background-size: 280px;
        background-repeat: no-repeat;
        display: inline-block; 
        height: 220px;
        width: 220px;
        top: 0rem;
        position: relative; 
        text-align: center;
        text-indent: -999999999px;
    }  
    header .mobile {
        display: inline-block;
        /* inline-block fixes mobile resolution and nav bar stacking */
    } 
    
    header .desktop {
        display: none;
        /* overwrites ".mobile" rules when abox 859px */
    } 
    .navbar { 
        height: 2.5rem;
    }
}
    /* RESPONSIVE RULES .IMG */
    @media screen and (max-width: 500px) { 
        header { 
                height: 200px; 
                background-position: 0 -0px; 
                background-repeat: no-repeat;
        }
    }
    @media screen and (max-width: 548px) { 
        nav li { 
            font-size: medium;
      } 
    }    
    @media screen and (max-width: 625px) {
        .features { 
            display: block;
        } 
        }  
    @media screen and (max-width: 767px) { 
        .navbar { 
            height: 3.2rem; 
        }
    }
    @media screen and (max-width: 859px) { 
        header .logo a {
            background-image: url("Images/logo.png"); 
            text-align: center; 
            background-size: 58%; 
            background-position: 50% 0;
        } 
        header { 
            height: 220px; 
            background-position: 0 0px;
        } 
    }
    /* a responsiveness and format */
    li:first-child { 
        margin-left: 5px;
}   
    a { 
        text-decoration: none; 
        color: inherit;
    } 
    a:hover { 
        text-decoration: underline;
    }
    /* FOOTER */
    footer {
        background: black;
        padding: 10px 20px; 
        font-size: 12px; 
        bottom: 0;
    }