html { 
    background-color: rgba(0, 0, 0, 0.883);
} 
body {
    color: white;
    font-family: "montserrat",sans-serif;
    margin: 0;
    padding: 0; 
    overflow-y: scroll; 
    overflow-x: hidden;
}

/* NAVBAR START */
.topnav {
    background-color: #333;
    overflow: hidden; 
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .active {
    background-color: #b817179b;
    color: white; 
  } 
  .topnav .icon {
    display: none;
  }
  .dropdown {
    float: right;
    overflow: hidden; 
    margin-right: 30px;
  }
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } 
    /* NAVBAR END */ 
    /*Header Logo*/
.image-container { 
    background: 
          linear-gradient(
              rgba(0, 0, 0, 0.6), 
              rgba(0, 0, 0, 0.6)
          ),
    url(Images/hero.jpg); 
    background-position: center; 
    background-size: 100%; 
    background-repeat: no-repeat;
    height: 300px; 
    width: 100%; 
    overflow: hidden; 
    text-align: center;

} 
.image-container img { 
    width: 300px;
    object-fit: cover; 
    box-shadow: #333;
} 
.image-container-reserve { 
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
  ),
url(Images/hero.jpg); 
background-position: center; 
background-size: 100%; 
background-repeat: no-repeat;
height: 180px; 
width: 100%; 
overflow: hidden; 
text-align: center;
} 
.image-container-reserve img { 
  width: 160px;
  object-fit: cover; 
  box-shadow: #333;
} 
  /*Header Logo End*/


    /* Landing Page Section */ 
.features { 
    background-color: #a5a3a3ae;
    color: rgb(66, 65, 65);
    padding: 30px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
}
.features figure {
    
    margin: auto;
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-style: italic;
    width: 200px;    
}
.features figure img{ 
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px; 
    transition: all .7s;
    width: 200px;
}  
.features figure img:hover { 
    transform: scale(1.1);
} 
    /* Landing Page Section END */


 /*Directions page*/ 
.map { 
  text-align: center; 
  width: 100%; 
  height: 550px;
} 
.googlemaps { 
  width: 100%; 
  height: 100%;
} 
.directions { 
  text-align: center; 
  flex-wrap: wrap;
} 
/* Contact Page */
input[type=text], select, textarea { 
  width: 100%;
  padding: 12px; 
  border: 1px solid #353535a7;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
input[type=submit] { 
  font-style: italic;
  background-color: #a42d1f;
  color: rgb(255, 254, 254);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #f50909;
}
.container {
  border-radius: 5px;
  background-color: #525151;
  padding: 20px;
} 
.contactbody { 
  background-color: #fffcfcc0;
} 
/* About Us Page */ 
.about { 
  width: 100%; 
  height: 15px; 
  margin: 40px; 
  font-size:x-large; 
  color: #fffefe; 
  text-align: left; 
} 
.aboutdiv div{ 
  justify-content: space-around; 
  width: 100%; 
  display: flex; 
  margin-left:auto;
    margin-right:auto;
    width:auto;
} 
.about1 { 
  padding-bottom: 50px; 
  width: 100%; 
}
.about1 img{ 
  width: 550px; 
  float:left; 
  margin-left: 20px; 
  display:inline-block; 
position: relative;
} 
.about1 p{ 
  position: relative; 
  text-align: end; 
  height: 80px; 
  margin: 10px;
  width: 700px; 
  float: right; 
  font-size: x-large;
} 
.about2 { 
  padding-bottom: 50px; 
  width: 100%;
}
.about2 img{ 
  width: 600px; 
  float: right; 
  margin-right: 20px; 
  display: inline-block; 
  position: relative;
} 
.about2 p{ 
  position: relative; 
  text-align: start; 
  height: 80px; 
  margin: 20px;
  width: 600px; 
  float: left; 
  font-size: x-large; 
}

/* Footer */ 
.footer { 
  font-size:small; 
  font-style: italic; 
  position: fixed; 
  left: 0; 
  bottom: 0; 
  width: 100%;
  text-align: center; 
  background-color: rgba(0, 0, 0, 0.641); 
} 
    /* Responsive Rules */ 

    /* about us responsive divs */
@media screen and (max-width: 1290px) { 
  .aboutdiv div{ 
    flex-flow: row wrap; 
    float: none; 
    width: auto; 
    margin-right: 0;
    border: 0; 
  } 
  .about1 { 
    flex-direction: column;
    width: 550px; 
    float: none; 
    margin-left: 0px; 
    display: inline; 
    position: relative; 
    text-align: center;
  }   
  .about1 img{ 
    width: 550px; 
    float: none; 
    margin-left: 0px; 
    display: inline; 
    position: relative; 
    text-align: center; 
    padding-bottom: 0px;
  }   
  .about1 p{ 
    position: relative; 
    text-align: center; 
    height: 80px; 
    margin: 12px;
    width: 700px; 
    float: right; 
    font-size: larger; 
  } 
  .about2 { 
    flex-direction: column;
    width: 550px; 
    float: none; 
    margin-left: 0px; 
    display: inline; 
    position: relative; 
    text-align: center;
  } 
  .about2 img{ 
    width: 550px; 
    float: none; 
    margin-left: 0px; 
    display: inline; 
    position: relative; 
    text-align: center;
} 
  .about2 p{ 
    position: relative; 
    text-align: center; 
    height: 80px; 
    margin: 50px;
    width: 700px; 
    float: right; 
    font-size: larger; 
    padding-bottom: 40px;
  } 
@media screen and (max-width: 600px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
} 
.map { 
  text-align: center; 
  width: 100%; 
  height: 500px;
} 
}
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
} 
} }